<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/static/styles/styles.css">
    <meta http-equiv="refresh" content="15">
</head>
<body>
 <form class="hat">
	 <img src="{{ _logo }}" class="hat_logo">
     {% if current_user.is_authenticated %}
        <a class="white_button" href="/"><span>Домой</span></a>
        <a class="white_button" href="/dialogues_redirect"><span>Диалоги</span></a>
        <a class="white_button" href="/chats_redirect"><span>Беседы</span></a>
        <a class="white_button" href="/logout"><span>Выйти</span></a>
     {% else %}
    <p>
        <a class="white_button" href="/register"><span>Зарегистрироваться</span></a>
        <a class="white_button" href="/login"><span>Войти</span></a>
    </p>
{% endif %}
 </form>
 <div class="dialogues">
     <div class="selector">
         <div><a class="white_button" href="/chats/add_user/{{current_chat.name}}"><span>Добавить пользователя...</span></a></div>
        <h4 class="colorist">Выберите чат</h4>
         {% for item in chats %}
                <div><a class="white_button" href="/chats/{{ item.name }}"><span>{{ item.name }}</span></a></div>
        {% endfor %}
     </div>
     <div class="chat">
         <h4 class="colorist">Беседа "{{ current_chat.name }}"</h4>
         <div class="chat_area">
                 {% for item in messages %}
             <p class="nickname">[{{ item.sender.name }}] - {{  item.text }}</p>
                 {% endfor %}

         </div>
         <div class="chat-control">
             <form action="" method="post" novalidate>
             {{ form.hidden_tag() }}
                    {{ form.text(class="chat_input") }}  {{ form.submit(type="submit", class="white_button") }} </div>
            </form>
     </div>
     </div>
 </div>
</body>
</html>

