<!DOCTYPE html>
<html>
<head>
	<title>default_pattern</title>
	<link rel="stylesheet" href={{styles}}>
</head>
<body>
 <form class="hat">
	 <img src="{{ _logo }}" class="hat_logo">
     {% if current_user.is_authenticated %}
        <a class="begin_button" href="/dialogues_redirect"><span>Диалоги</span></a>
        <a class="begin_button" href="/chats_redirect"><span>Беседы</span></a>
        <a class="begin_button" href="/logout"><span>Выйти</span></a>
     {% else %}
    <p>
        <a class="auths" href="/register"><span>Зарегистрироваться</span></a>
        <a class="auths" href="/login"><span>Войти</span></a>
    </p>
{% endif %}
 </form>
 <div class="page_content">
	 {% block content %}{% endblock %}
 </div>
</body>
</html>