<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/static/styles/styles.css">
    <meta http-equiv="refresh" content="10">
</head>
<body>
 <form class="hat">
	 <img src="{{ _logo }}" class="hat_logo">
     {% if current_user.is_authenticated %}
        <a class="begin_button" href="/dialogues"><span>Диалоги</span></a>
        <a class="begin_button" href="/logout"><span>Выйти</span></a>
     {% else %}
    <p>
        <a class="auths" href="/register"><span>Зарегистрироваться</span></a>
        <a class="auths" href="/login"><span>Войти</span></a>
    </p>
{% endif %}
 </form>
 <div class="dialogues">
     <div class="selector">
        <h3>Выберите диалог</h3>
         {% for item in dialogues %}

            {% if item.first_user == current_user %}
                <div><a class="begin_button" href="/dialogues/{{ item.second_user.name }}"><span>{{ item.second_user.name }}</span></a></div>
            {% else %}
                <div><a class="begin_button" href="/dialogues/{{ item.first_user.name }}"><span>{{ item.first_user.name }}</span></a></div>
     {% endif %}

        {% endfor %}
     </div>
     <div class="chat">
         <p>Переписка с "{{ comrade.name }}"</p>
         <div class="chat_area">
                 {% for item in messages %}
                    <p>{{ item.sender.name }} - {{  item.text }}</p>
                 {% endfor %}

         </div>
         <div class="chat-control">
             <form action="" method="post" novalidate>
             {{ form.hidden_tag() }}
                    {{ form.text(class="chat_input") }}  {{ form.submit(type="submit", class="begin_button") }} </div>
            </form>
     </div>
     </div>
 </div>
</body>
</html>

