<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="static/styles/styles.css">
</head>
<body>
 <form class="hat">
	 <img src="{{ _logo }}" class="hat_logo">
     {% if current_user.is_authenticated %}
        <a class="begin_button" href="/dialogues"><span>Диалоги</span></a>
        <a class="begin_button" href="/logout"><span>Выйти</span></a>
     {% else %}
    <p>
        <a class="auths" href="/register"><span>Зарегистрироваться</span></a>
        <a class="auths" href="/login"><span>Войти</span></a>
    </p>
{% endif %}
 </form>
 <div class="selector">
    <h3>Выберите диалог</h3>
 </div>
 <div class="page_content">
	 <br>
 </div>
</body>
</html>