form.hat{
	background-color: #505050;
	padding: 0;
}
body{
	margin: auto;
	background-color: #606060
}
.hat_logo{
    background-color: #505050;
	display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.page_content{

    display:block;
    float: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 5px;
    background: #656565;
    text-align: center;
    border-radius: 8px;
}
.chat_area {
    float: left;
    margin-left: auto;
    width: 500px;
    overflow-y:scroll;
    height: 600px;
}
.chat {
    float: left;
    margin-left: 450px;
    padding: 20px;
    padding-top: 5px;
    border-radius: 8px;
    size-x: 300px;
    background: #656565;
    border-radius : 5px;
    margin-bottom: 5px;
    height: 700px;
}
.chat-control {
    margin-top: 5px;
    padding-top: 5px;
}
.chat_input{
    float: center;
    width: 406px;
    height: 40px;
    border-radius: 8px;
}
.selector{
    padding-top: 5px;
    margin-left: 50px;
    float: left;
    width: 150px;
    height: 100px
    margin-right: 1400px;
    background: #535353;
    border-radius: 8px;
    overflow-y:scroll;
}
.begin_button {
  background-color: #555555;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 5px;
  border-radius: 8px;
  transition: all 0.5s;
}
.begin_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.begin_button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.begin_button:hover span {
  padding-right: 25px;
}

.begin_button:hover span:after {
  opacity: 1;
  right: 0;
}

.auths {
  background-color: #555555;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 5px;
  position: relative;
  left: 81%;
  border-radius: 8px;
  transition: all 0.5s;
}
.auths span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.auths span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.auths:hover span {
  padding-right: 25px;
}

.auths:hover span:after {
  opacity: 1;
  right: 0;
}
.simple_inp{
    margin-left: 300px;
    margin-right: 300px;
    background-color: #707070;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 10px;
}